body {
    background: url("../img/background.jpg");
    background-size: cover;
  }
#cookie {
    text-align: center;
    display: block;
}
#counter {
    text-align: center;
    color: green;
    font-size: 80px;
}
#clickUpgradeButton {
    text-align: center;
}
#autoCLickerButton {
    text-align: center;
}

#casesUpgrade {
    text-align: center;
}