* {
    user-select: none;
}

a {
    text-decoration: none;
    color: rgb(6, 221, 6);
}

body {
    background: url("../img/background2.jpg");
    background-size: cover;
  }
  
#player {
    display: flex;
    width: 450px;
    height: 450px;
    position: absolute;
    left: 130px;
    top: 195px;
    transition: .1s;
}
#playerAttack {
    display: none;
    width: 450px;
    height: 450px;
    position: absolute;
    left: 130px;
    top: 195px;
    transition: .1s;
}

#enemy {
    display: flex;
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    transition: .1s;
}
#enemyAttack {
    display: none;
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    transition: .1s;
}

#attack {
    position: absolute;
    top: 650px;
    left: 910px;
}

#heal {
    position: absolute;
    top: 250px;
    left: 100px;
}

#playerHp {
    position: absolute;
    color: white;
    top: 200px;
    left: 350px;
    font-size: 50px;
}

#enemyHp {
    position: absolute;
    color: white;
    bottom: 400px;
    right: 50px;
    font-size: 50px;
}

#info {
    display: none;
    position: relative;
    width: 500px;
    margin-top: 2em;
    font-size: 50px;
    color: white;
    text-align: center;
    border-style: solid;
    border-radius: 15%;
    border-color: rgba(0, 0, 0, 0.671);
    background-color: rgba(168, 76, 0, 0.678);
    border-width: 6px;
    border-style: solid;
}