* {
    user-select: none;
}

a {
    text-decoration: none;
    color: rgb(6, 221, 6);
}

body {
    background: url("../img/background1.jpg");
    background-size: auto;
  }
  
button {
    background-color: rgba(0, 0, 0, 0.521);
    color: rgb(6, 221, 6);
    font-size: 20px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

#musicButton {
    display: none;
    color: black;
    position: absolute;
    left: 2%;
    bottom: 1%;
    text-align: center;
    border-radius: 100%;
    border-color: black;
    background-color: rgba(0, 128, 0, 0.5);
    border-width: 4px;
}

#muteButton {
    display: block;
    color: black;
    position: absolute;
    left: 2%;
    bottom: 1%;
    text-align: center;
    border-radius: 100%;
    border-color: black;
    background-color: rgba(255, 0, 0, 0.5);
    border-width: 4px;
}

#cookie {
    text-align: center;
    display: block;
    font-size: 60px;
}

#counter {
    text-align: center;
    color: green;
    font-size: 90px;
}

#clickUpgradeButton {
    text-align: center;
}

#autoCLickerButton {
    text-align: center;
}

#casesUpgradeButton {
    text-align: center;
}

#collectionUpgradeButton {
    text-align: center;
}

#miniGames {
    position: absolute;
    text-align: center;
    width: 23%;
    top: 5%;
    bottom: 5%;
    left: 2%;
    right: 75%;
    background-color: rgba(70, 67, 67, 0.76);
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

#mainDiv {
    position: absolute;
    text-align: center;
    width: 50%;
    top: 5%;
    bottom: 25%;
    left: 25%;
    right: 25%;
}

#counterDiv {
    position: absolute;
    text-align: center;
    width: 50%;
    top: 65%;
    bottom: 5%;
    left: 25%;
    right: 25%;
}

#upgrades {
    position: absolute;
    text-align: center;
    width: 23%;
    top: 5%;
    bottom: 5%;
    left: 75%;
    right: 2%;
    background-color: rgba(70, 67, 67, 0.76);
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

#csgo {
    text-align: center;
}

#tf {
    text-align: center;
}